/*transition - change over time
transition-property
transition-duration*/



div {
 width: 150px;
 height: 150px;
 display: inline-block;
}

.one {
 background: red;
}

.two {
 background: green;
}

.three {
 background: blue;
/* transition: background 3s 2s,border-radius 3s 2s;/*property transition time delay(optional)*/
 transition: all 4s 5s;
}

.three:hover {
 border-radius: 50%;
 background: coral;
}

.four {
 background: black;
}